<!DOCTYPE html>
<html>
  <head>
    <title>RailsIntro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to("Home", root_path, class: "your-class") %>
    <%= link_to "Contact", contact_path %>
    <%= link_to "About", about_path %>
    <%= link_to "Profile", profile_path %>
    <%= yield %>
    <p>footer</p>
  </body>
</html>
